@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

/* DESKTOP */

/* HEADER */

body ._lock {
    overflow: hidden;
}

.main-nav {
    position: relative;
    z-index: 15;
}

.navbar {
    text-decoration: none;
    background-color: rgb(237, 249, 237);
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar-nav a {
    font-size: 18px;
    font-weight: 500;
}

.navbar a {
    text-decoration: none;
    color: rgb(69, 69, 69);
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #618264
}

.nav-item {
    list-style-type: none;
    padding-left: 25px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 60px;
    width: 60px;
}

.brand-text {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

/* ARROW */

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
  }

  #scroll-to-top a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
  }

  #scroll-to-top.hidden {
    opacity: 0;
  }
/* ------------------------------------- */
/* MENU-BURGER */

.menu-icon {
    display: none;
}

@media (max-width: 767px) {
    .navbar-area {
        position: fixed;
        z-index: 10;
        width: 100%;
    }

    .navbar-brand img {
        height: 50px;
        width: 50px;
    }

    .navbar {
        padding: 15px 20px;
    }

    .menu-icon {
        top: 32px;
        right: 55px;
        z-index: 5;
        display: block;
        position: fixed;
        padding: 0;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu-icon::before,
    .menu-icon::after,
    .menu-icon span {
        left: 0;
        position: absolute;
        height: 14%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: rgb(69, 69, 69);
    }

    .menu-icon::before,
    .menu-icon::after {
        content: "";
    }

    .menu-icon::before {
        top: 0;
    }

    .menu-icon::after {
        bottom: 0;
    }

    .menu-icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu-icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu-icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu-icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .navbar-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 50%;
        background-color: #D0E7D2;
        padding: 100px 30px 30px;
        transform: translate(100%, 0px);
        transition: left 0.3s ease 0s;
        display: flex;
        flex-direction: column;
        align-items: end;
        overflow: auto;
        transition: transform 0.5s ease;
    }

    ._active {
        transform: translate(0px, 0px);
        /* left: 0; */
    }

    .nav-item a,
    .nav-item span h3 {
        font-size: 22px;
        padding-right: 30px;
    }
}

/* ------------------------------------- */

/* HOME SECTION */

.search-container {
    background-image: url(../img/home-search-section-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    text-align: center;
    padding: 190px 0 190px 0;
    color: #ecf4eb;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.search-container h1 {
    font-size: 38px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.search-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.input-container {
    background-color: rgba(245, 245, 245, 0.3);
    padding: 15px;
    position: relative;
    margin: auto;
    width: fit-content;
    border-radius: 5px;
}

.search-input {
    height: 42px;
    width: 350px;
    padding-left: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
}

.input-container button {
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    color: white;
    height: 42px;
    width: 120px;
    font-size: 16px;
    background-color: #79AC78;
    transition: background-color 0.3s ease, top 0.1s ease;
}

.input-container button:hover {
    background-color: #618264;
    box-shadow: -1px 4px 12px 0px rgba(0, 0, 0, 0.359);
    cursor: pointer;
}

.input-container button:active {
    top: 2px;
}

/* FEATURE BLOCK */

.feature-block {
    margin: 70px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.feature-item {
    margin: 15px;
    border: 1px solid #b4b4b4;
    padding: 40px 40px 30px 40px;
    border-radius: 8px;
    width: 20%;
    height: 100%;
    text-align: center;
}

.icon {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    /* font-weight: 500; */
}

.text h3 {
    margin-bottom: 10px;
    color: #3d3f3d;
}

.text p {
    color: #476147;
    line-height: 1.4;
}

.feature-desc {
    text-align: center;
    padding-bottom: 50px;
}

.feature-desc h2 {
    color: #555855;
    font-size: 32px;
    /* text-align: center; */
    margin: 15px 0;
}

.feature-desc p {
    color: #627662;
    font-size: 22px;
    /* text-align: center; */
    margin: 25px auto;
    line-height: 1.4;
    width: 75%;
}

/* LATEST RECIPES */

.latest-recipes-section {
    background-color: #618264;
    /* height: 500px; */
}

.latest-recipes-section h1:first-child {
    text-align: center;
    padding-top: 70px;
    color: #f2f7f3;
    font-size: 34px;
}

.latest-recipes-section .description {
    text-align: center;
    padding: 25px 0 25px 0;
    color: #D0E7D2;
    font-size: 22px;
    width: 75%;
    margin: auto;
}

.latest-recipe-btn-block h1 {
    font-size: 28px;
    color: white;
    padding-top: 25px;
    padding-bottom: 15px;
}

.recipe-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-block {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
    min-height: 440px;
    /* border: 1px solid #b4b4b4; */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.087);
    border-radius: 8px;
    /* padding: 10px; */
    margin: 15px;
    overflow: hidden;
    background-color: #D0E7D2;
    transition: transform 0.3s ease;
}

.recipe-block:hover {
    /* filter: blur(5px); */
    transform: scale(1.03);
    box-shadow: -1px 4px 12px 0px rgba(0, 0, 0, 0.84);
    transition: transform 0.3s ease;
}

.recipe-block:active {
    transform: scale(0.99);
}

.text-block hr {
    border: none;
    height: 1px;
    background-color: #79AC78;
    margin: 10px 0 10px 0;
}

.recipe-block img {
    /* border-radius: 8px 8px 0 0; */
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.recipe-block .text-block {
    padding: 15px;
}

.recipe-block h3 {
    font-size: 20px;
    padding: 15px;
    color: #394a3b;
}

.recipe-block a {
    text-decoration: none;
}

/* .recipe-block a:hover {
    color: #79AC78;
    text-decoration: none;
} */

/* .blur-fx {

}

.blur-fx:hover {

} */

.recipe-block .text-block span {
    color: #455e44;
}

.text-inner-block {
    width: 90%;
}

.text-inner span {
    color: #618264;
}

.text-inner p {
    color: #88a68b;
}

.show-all-recipes-block {
    /* padding-top: 20px; */
    padding-bottom: 20px;
    display: flex;
}

.show-all-recipes-btn {
    border-radius: 10px;
    border: none;
    /* height: 50px; */
    width: 250px;
    background-color: #B0D9B1;
    margin: 15px auto;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.show-all-recipes-btn:hover {
    background-color: #80aa7f;
    box-shadow: 1px 4px 5px 0px #00000068;
    cursor: pointer;
}

.show-all-recipes-btn:hover {
    color: #D0E7D2;
}

.show-all-recipes-btn:active {
    transform: scale(0.99);
    box-shadow: none;
}

.show-all-recipes-btn {
    color: #4d624e;
    text-decoration: none;
    font-size: 24px;
    padding: 15px;
}

.hr-latest-recipes {
    width: 92%;
    margin: auto;
}

.latest-recipe-btn-block {
    padding-top: 15px;
    text-align: center;
}

.latest-recipe-btn-block p {
    color: #D0E7D2;
    font-size: 20px;
    padding: 22px;
    width: 80%;
    margin: auto;
}

.overlay {
    border-radius: 5px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.69);
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.recipe-block:hover .overlay {
    height: 100%;
    opacity: 1;
    cursor: pointer;
}

.content-wrapper {
    position: relative;
    z-index: 1;
    filter: blur(0);
    transition: filter 0.3s ease;
}

.recipe-block:hover .content-wrapper {
    filter: blur(5px);
}

.recipe-block:hover .content-wrapper img {
    scale: (1.5);
}

/* MAIN RECIPES PAGE */

.recipes-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 40px;
}

/* NEWSLETTER BLOCK */

.newsletter-block {
    /* background-color: #B0D9B1; */
    padding: 100px 150px;
}

.newsletter-text {
    text-align: center;
}

.newsletter-text h2 {
    color: #555855;
    font-size: 32px;
    /* text-align: center; */
    margin: 15px 0;
}

.newsletter-text p {
    color: #627662;
    font-size: 22px;
    /* text-align: center; */
    margin: 25px auto;
    padding-bottom: 15px;
    line-height: 1.4;
    width: 85%;
}

.newsletter-button {
    display: flex;
    justify-content: center;
}

.form-newsletter {
    padding: 25px;
    background-color: #618264;
}

.newsletter-button .textbox-container {
    display: inline-block;
}

.newsletter-button .textbox-container {
    display: inline-block;
}

.newsletter-button input[type='email'] {
    width: 300px;
    height: 45px;
    font-size: 18px;
    /* font-weight: 600; */
    color: #627662;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
}

.form-newsletter button {
    background-color: #B0D9B1;
    color: #2a382b;
    font-size: 18px;
    width: 120px;
    height: 45px;
    border: none;
    transition: box-shadow 0.3s ease;
}

.form-newsletter button:hover {
    background-color: #D0E7D2;
    color: #2a382b;
    cursor: pointer;
    box-shadow: 1px 4px 5px 0px #00000068;
}

.form-newsletter button:active {
    background-color: #B0D9B1;
    box-shadow: none;
}

/* FOOTER */

.footer-container {
    background-color: #618264;
}

.short-inf-block {
    padding: 70px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inf-item {
    color: rgb(255, 255, 255);
}

.inf-item h2 {
    padding-bottom: 15px;
}

.item-list li {
    padding-bottom: 8px;
}

.item-list li a {
    color: white;
    text-decoration: none;
}

.item-list li a:hover {
    color: #B0D9B1;
    text-decoration: none;
}

.item-list {
    list-style: none;
}

.item-list i {
    padding-right: 8px;
}

.footer-container hr {
    width: 92%;
    margin: auto;
    border: none;
    height: 1px;
    background-color: white;
}

.footer-brand {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.copyright {
    padding-bottom: 15px;
}

.copyright span {
    color: rgb(214, 212, 212);
}

.footer-brand a {
    padding: 15px;
    color: white;
    text-decoration: none;
}

.footer-brand a:hover {
    color: #B0D9B1;
}